
{% extends 'base.html' %}

{% block title %} Смена пароля {% endblock %}

{% block content %}

<form method="POST" action="/change/" class="auth-form">
    {% csrf_token %}

    <label class="auth-label">Смена пароля</label>

    {% if messages %}
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div>
        {{ ChangePasswordForm.old_password }}
        {{ ChangePasswordForm.new_password }}
    </div>

    <div class="auth-form-inline">
        <input type="submit" class="submit-button" value="Сменить пароль">
        <a href="{% url 'reset_password' %}" class="linc-button">Забыли пароль?</a>
    </div>
</form>
{% endblock %}
