
{% extends 'base.html' %}

{% block title %} Вход в аккаунт {% endblock %}

{% block content %}

<form method="POST" action="/login/" class="auth-form">
    {% csrf_token %}

    <label class="auth-label">Вход в аккаунт</label>

    {% if messages %}
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div>
        {{ LoginForm.auth }}
        {{ LoginForm.password }}
    </div>

    <input type="submit" class="submit-button" value="Войти">
</form>
{% endblock %}
