
{% extends 'base.html' %}

{% block title %} Вход в аккаунт {% endblock %}

{% block content %}

<form method="POST" action="/login/" class="auth-form">
    {% csrf_token %}

    <label class="auth-label">Вход в аккаунт</label>

    {% if messages %}
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div>
        {{ LoginForm.email }}
        {{ LoginForm.password }}
    </div>

    <div class="auth-form-inline">
        <input type="submit" class="submit-button" value="Войти">
        <a href="{% url 'reset_password' %}" class="submit-button">Забыли пароль?</a>
        <a href="{% url 'register' %}" class="submit-button">Нет аккаунта?</a>
    </div>
</form>
{% endblock %}
