
{% extends 'base.html' %}

{% block title %} Регистрация {% endblock %}

{% block content %}

<form method="POST" action="/register/" class="auth-form">
    {% csrf_token %}

    <label class="auth-label">Регистрация</label>

    {% if messages %}
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div>
        {{ RegisterForm.username }}
        {{ RegisterForm.email }}
        {{ RegisterForm.password }}
        {{ RegisterForm.repeat_password }}
    </div>

    <input type="submit" class="submit-button" value="Создать аккаунт">
</form>

{% endblock %}
