
{% extends 'base.html' %}

{% block title %} Сброс пароля {% endblock %}

{% block content %}

<form method="POST" action="/reset/" class="auth-form">
    {% csrf_token %}

    <label class="auth-label">Сброс пароля</label>

    {% if messages %}
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div>
        {{ ResetPasswordForm.email }}
    </div>

    <div class="auth-form-inline">
        <input type="submit" class="submit-button" value="Отправить email">
        <a href="{% url 'login' %}" class="submit-button">Вернутся к входу</a>
    </div>
</form>
{% endblock %}
