{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Code-io{% endblock %}</title>

        <meta name="yandex-verification" content="17d88c473cfde160">

        <!-- css -->

        <link rel="stylesheet" href="{% static 'css/body.css' %}">
        <link rel="stylesheet" href="{% static 'css/auth-form.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/course.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">

        <!-- javascript -->

        <script src="{% static 'javascript/dropdown-menu.js' %}"></script>
        <script src="{% static 'javascript/add-star.js' %}"></script>
        <script src="{% static 'javascript/theme-switch.js' %}"></script>
        <script src="{% static 'javascript/open-profile-edit.js' %}"></script>

        <!-- icon -->

        <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>

        <main>
        {% include 'header.html' %}

            {% block content %}
                <!-- код, который будет переопределён в других шаблонах -->
            {% endblock %}
        </main>
    </body>
</html>

{% block script %}
    <!-- js код для переопределения в других шаблонах -->
{% endblock script %}

{% block style %}
     <!-- css для переопределения в других шаблонах -->
{% endblock style %}

