
body {
    margin: 0;
    background-color: #434343;
    font-family: Arial, sans-serif;
    color: #ffffff; /* Белый текст */
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

main {
    margin-top: 70px;
    min-height: calc(100vh - 70px - 130px);
    padding: 20px;
}