.course-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.course-item {
    background-color: #333333; /* Темный фон */
    border: 1px solid #444444; /* Темная рамка */
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    flex: 1 1 calc(25% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    color: #ffffff; /* Белый текст */
}

.course-item img {
    width: 30px;
    margin-top: auto;
    margin-left: 110px;
}

.course-item:hover {
    transform: scale(1.05);
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #ff8c42; /* Оранжевый цвет */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e67e3b; /* Темнее оранжевый при наведении */
}

.course-item {
    margin-bottom: 20px;
}

.course-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #434343; /* Темный фон */
    color: #ffffff; /* Белый текст */
}

.sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    width: 250px;
    height: calc(100% - 60px);
    background-color: #333333; /* Темный фон */
    color: #ffffff; /* Белый текст */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    box-sizing: border-box;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    color: #ffffff; /* Белый текст */
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.toggle-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1001;
    padding: 10px 15px;
    background-color: #ff8c42; /* Оранжевый цвет */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #e67e3b; /* Темнее оранжевый при наведении */
}

.content {
    margin-left: 20px;
    padding: 20px;
}

.sidebar.active + .toggle-button {
    display: none;
}

img {
    max-width: 1000px;
    width: 100%;
    height: auto;
}