body {
    margin: 0;
    background-color: #5c5858;
    font-family: Arial, sans-serif;
}
html, body {
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
    overflow-x: hidden; /* Скрываем горизонтальную прокрутку */
}

* {
    box-sizing: border-box;
}

main {
    margin-top: 70px;
    min-height: calc(100vh - 70px - 130px);
    padding: 20px;
}
