{% extends 'base.html' %}

{% block title %}Подтверждение удаления{% endblock %}

{% block content %}
    <h1>Подтверждение удаления курса</h1>

    {% if course %}
        <form action="{% url 'delete' course.course_id %}" method="post">
            <p>Вы уверены, что хотите удалить курс "{{ course.title }}"?</p>
            {% csrf_token %}
            <button type="submit" class="btn">Да, удалить</button>
            <a href="{% url 'my_courses' %}" class="btn">Нет, отмена</a>
        </form>
    {% else %}
        <p>Курс не найден.</p>
    {% endif %}
{% endblock content %}