{% extends 'base.html' %}

{% block title %}Мои курсы{% endblock %}

{% block content %}


<h1>Список курсов</h1>
{% for course in courses %}
<li class="course-item-my" style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #ccc; padding: 10px;">
    <div>
        <h2 style="display: inline;">{{ course.title }}</h2>
    </div>
    <div>
        <a href="{% url 'course' course.id %}" class="btn">Перейти на курс</a>
        <a href="#" class="btn" style="margin-left: 10px;">Редактировать</a>
        <a href="#" class="btn" style="margin-left: 10px; background-color: red;">Удалить</a>
    </div>
</li>
{% empty %}
<li>Курсы не найдены.</li>
{% endfor %}

{% endblock %}