/* Общие переменные */
:root {
    --header-bg: #1b752e;
    --menu-link-hover: #1c682d;
    --dropdown-bg: #65e759;
    --dropdown-item-color: rgb(32, 30, 30);
    --dropdown-item-hover: #479c3f;
    --logo-gradient: linear-gradient(135deg, #32CD32, #FFA500);
    --logo-color: transparent;
}

[data-theme="dark"] {
    --header-bg: #333333;
    --menu-link-hover: #555555;
    --dropdown-bg: #444444;
    --dropdown-item-color: white;
    --dropdown-item-hover: #555555;
    --logo-gradient: none;
    --logo-color: white;
}

/* Общие стили хедера */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    color: white;
    z-index: 1000;
}

.logo a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    background: var(--logo-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--logo-color);
    color: var(--logo-color);
}

.navbar {
    flex-grow: 1;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-item {
    position: relative;
}

.menu-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.menu-link:hover {
    background-color: var(--menu-link-hover);
}

/* Общие стили для пользовательской области */
.user-area {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.theme-toggle {
    width: 30px;
    margin-right: 10px;
}

.user-name {
    margin-right: 10px;
    color: white;
}

.profile-pic {
    margin-left: 20px;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.1);
}

/* Стили выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
}

.drop-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--dropdown-bg);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.dropdown.show .dropdown-menu {
    display: block;
    opacity: 1;
    height: auto;
}

.dropdown-item {
    color: var(--dropdown-item-color);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: var(--dropdown-item-hover);
}
