.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b752e;
    padding: 10px 20px;
    color: white;
}

.logo a {
    text-decoration: none; /* Убираем подчеркивание */
    font-family: 'Roboto', sans-serif; /* Применяем шрифт Roboto */
    font-size: 24px; /* Устанавливаем размер шрифта */
    font-weight: 700; /* Делаем текст жирным */
    background: linear-gradient(135deg, #32CD32, #FFA500); /* Устанавливаем градиент от зеленого до оранжевого по диагонали */
    -webkit-background-clip: text; /* Обрезаем фон по тексту для WebKit */
    -webkit-text-fill-color: transparent; /* Делаем цвет текста прозрачным, чтобы видеть градиент */
    color: transparent; /* Делаем цвет текста прозрачным */
}

.navbar {
    flex-grow: 1;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-item {
    position: relative;
}

.menu-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.menu-link:hover {
    background-color: #555;
}

.user-area {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.user-name {
    margin-right: 10px;
    color: white;
}

.profile-pic {
    margin-left: 20px;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.dropdown.show .dropdown-menu {
    display: block;
    opacity: 1;
    height: auto;
}

.dropdown-menu.show {
    height: 100px;
}

.dropdown-item {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #555;
}
