{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Code-io{% endblock %}</title>

        <!-- css -->

        {% if request.user.theme == "light" %}
            <link rel="stylesheet" href="{% static 'light-body.css' %}">
            <link rel="stylesheet" href="{% static 'light-header.css' %}">
            <link rel="stylesheet" href="{% static 'light-footer.css' %}">
            <link rel="stylesheet" href="{% static 'light-auth-form.css' %}">
            <link rel="stylesheet" href="{% static 'light-course.css' %}">
        {% elif request.user.theme == "dark" %}
            <link rel="stylesheet" href="{% static 'dark-body.css' %}">
            <link rel="stylesheet" href="{% static 'dark-header.css' %}">
            <link rel="stylesheet" href="{% static 'dark-footer.css' %}">
            <link rel="stylesheet" href="{% static 'dark-auth-form.css' %}">
            <link rel="stylesheet" href="{% static 'dark-course.css' %}">
        {% else %}
            <link rel="stylesheet" href="{% static 'light-body.css' %}">
            <link rel="stylesheet" href="{% static 'light-header.css' %}">
            <link rel="stylesheet" href="{% static 'light-footer.css' %}">
            <link rel="stylesheet" href="{% static 'light-auth-form.css' %}">
            <link rel="stylesheet" href="{% static 'light-course.css' %}">
        {% endif %}

        <!-- javascript -->

        <script src="{% static 'dropdown-menu.js' %}"></script>
        <script src="{% static 'add-star.js' %}"></script>
        <script src="{% static 'theme-switch.js' %}"></script>

        <!-- icon -->

        <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>

        <main>
        {% include 'header.html' %}

            {% block content %}
                <!-- код, который будет переопределён в других шаблонах -->
            {% endblock %}

        </main>

    {% include 'footer.html' %}

    </body>
</html>
