{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Code-io{% endblock %}</title>

        <!-- css -->

        <link rel="stylesheet" href="{% static 'styles.css' %}">

        {% if request.user.theme == light %}
            <link rel="stylesheet" href="{% static 'light-auth-form.css' %}">
        {% else %}
            <link rel="stylesheet" href="{% static 'dark-auth-form.css' %}">
        {% endif %}

        <!-- javascript -->

        <script src="{% static 'dropdown-menu.js' %}"></script>

        <!-- icon -->

        <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>

        <main>
        {% include 'header.html' %}

            {% block content %}
                <!-- код, который будет переопределён в других шаблонах -->
            {% endblock %}

        </main>

    {% include 'footer.html' %}

    </body>
</html>
