{% load static %}

<header class="header">
    <div class="logo"><a href="">CODE.IO</a></div>
    <nav class="navbar">
       <ul class="menu">
            <li class="menu-item"><a href="{% url 'register' %}" class="menu-link">Все курсы</a></li>
            {% if request.user.is_authenticated %}
                <li class="menu-item"><a href="{% url 'register' %}" class="menu-link">Мои курсы</a></li>
                <li class="menu-item"><a href="{% url 'register' %}" class="menu-link">Создать курс</a></li>
            {% else %}
                <li class="menu-item"><a href="{% url 'register' %}" class="menu-link">Регистрация</a></li>
                <li class="menu-item"><a href="{% url 'login' %}" class="menu-link">Вход</a></li>
            {% endif %}
        </ul>
    </nav>
    {% if request.user.is_authenticated %}
        <div class="user-area">
            <span class="user-name">{{ request.user.username }}</span>
            <div class="profile-pic">
                <img src="{% static 'assets/profile-default.png' %}" alt="Фото профиля" class="profile-image">
            </div>
            <div class="dropdown">
                <button class="drop-button">▼</button>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Мой профиль</a>
                    <a href="#" class="dropdown-item">Редактировать профиль</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Выход</a>
                    <a href="{% url 'change_password' %}" class="dropdown-item">Смена пароля</a>
                </div>
            </div>
        </div>
    {% endif %}
</header>
