{% extends 'base.html' %}
{% block title %} Добавить Курс {% endblock %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Добавить курс</title>
    <script>
        function addLesson() {
            const lessonFormset = document.querySelectorAll('.lesson-form').length;
            const newLesson = document.querySelector('.lesson-form').cloneNode(true);
            newLesson.querySelectorAll('input, textarea').forEach(input => {
                input.value = '';
            });
            document.getElementById('lesson-formset').appendChild(newLesson);
        }
    </script>
</head>
<body>
    <h1>Добавить курс</h1>
    <form method="post">
        {% csrf_token %}
        {{ course_form.as_p }}
        <div id="lesson-formset">
            {{ lesson_formset.management_form }}
            {% for lesson_form in lesson_formset %}
                <div class="lesson-form">
                    {{ lesson_form.as_p }}
                </div>
            {% endfor %}
        </div>
        <button type="button" onclick="addLesson()">Добавить урок</button>
        <button type="submit">Добавить курс</button>
    </form>
</body>



{% endblock %}
